body{
    padding: 0%;
    margin-right: 0%;
}
#navbar{
   background-color: white;
   
    display: flex;
}
#navbar>div:nth-child(1){
    
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 150px;
}
#navbar>div:nth-child(2){
    
    display: flex;
    width: 20%;
    padding-left: 15%;
    align-items: center;
}
.logo{
    height: 100%;
    width: 15%;
   
}
#navbar>div:nth-child(2) img{
    height: 20%;
    margin-right: 10%;
}
.changecolor{
    padding-bottom: 5px;
}
.changecolor:hover{
    text-decoration: underline;
    color: red;
    font-size: 25px;
}
.top-section{
    border: 1px solid black;
    margin: auto;
    width: 90%;
    height: 500px;
}

/* STICKY NAVBAR */
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
  }

.top-section img{
    width: 100%;
    height: 100%;
}
.partner-heading{
   
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.partner-heading p{
    color: gray;
    margin-bottom: 50px;
}
#partners{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 20px
}
#partners>div{
    display: grid;
    border: 1px solid black;
    height: 60px;
    width: 200px;
    padding: 10%;
    text-align: center;
    color: white;
    background-color:black;
    border-radius: 10px;
}
#offer-heading{
    text-align: center;
    font-size: 40px;
    margin: 40px;
    text-decoration: underline;
    
}
.offer-section{
   
    height: 450px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.offer-section>div{
   
    height: 100%;
    width: 30%;

}
.offer-section>div img{
    width: 100%;
    height: 100%;
}
#trending{
    margin: 50px;
    text-align: center;
    font-size: 50px;
}
.trendingProducts{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: center;
    gap: 10px;
   
}
.trendingProducts>div{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 450px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}
.trendingProducts button{
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
}

.bottom-section{
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    margin-top: 50px;
    background-color: lightgray;
    justify-content: space-around;
}
.bottom-section>div{
    height: 96%;
    width: 45%;
   
}
#left-side{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
#left-side button{
    padding: 10px;
    width: 28%;
    background-color: black;
    color: white;
    font-size: 20px;
}
#left-side img{
    margin-top: 30px;
    height: 60%;
    width: 100%;
}

#right-side{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
#right-side button{
    padding: 10px;
    width: 28%;
    background-color: black;
    color: white;
    font-size: 20px;
}
#right-side img{
    margin-top: 30px;
    width: 60%;
}

.footer{
    margin-top: 70px;
    height: 600px;
    background-color: rgb(251, 248, 244);
    width: 100%;
    
    justify-content: space-around;
}
#customer-setion{
    
    display: flex;
    height: auto;
    justify-content: space-around;
    
}
#customer-setion>div{
   
    width:20%;
    padding-left: 10px;
    font-size: 20px;
}
.coustomerCare h3{
    justify-content: right;
    color: gray;
}
#app-logo img{
    height: 15%;
}
#form input[type="text"],select,textarea{
    width: 80%;
    padding: 10px;
    border:none;
    background-color: rgb(251, 248, 244);
    font-size: 20px;
}
#form button{
    width: 80%;
    padding: 10px;
    border:none;
    margin-left: 30px;
    font-size: 20px;
}
#form button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    
}
.footer p{
    margin-left: 30%;
    color: gray;
    font-size: 20px
}
#social-media-section{
    
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#social-media-section>div:nth-child(1){
    
    width: 40%;
    height: 100%;
}
#social-media-section>div:nth-child(2){
    
    width: 40%;
    height: 100%;
    
}
#right-part{
    display: flex;
    
    
}
#right-part img{
    width: 8%;
    margin-left: 15px;
    
    
}
#filter{
    width: 10%;
}
#search{
    padding: 5px;
    margin-right: 15px;
}
